.hero {

    width: 100%;
    max-width: 1440px;
    height: 504px;
    background: url("../../assets/Preset.png") no-repeat center;
    background-size: cover;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero_details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.hero h1 {
    color: #ffffff;
    font-size: 56px;
    line-height: 72px;
    letter-spacing: 0.4px;
    font-weight: 400;
}

.hero .searchbar {
    width: 100%;
    max-width: 815px;
    height: 56px;
    background: #ffffff;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding-left: 30px;
    position: relative;
}

.searchbar .location {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: rgba(0, 0, 0, 0.85);
    margin-right: 25px;
}

.location p {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.3px;
}

.location .icon {
    color: #ff6a90;
    font-size: 24px;
}

.searchbar .line {
    background-color: #c5cbd1;
    width: 1px;
    height: 80%;
    opacity: 0.6;
}

.hero .searchbar input {
    flex-grow: 1;
    outline: none;
    padding-left: 20px;
    border: none;
}

.searchbar .btn {
    padding: 16px;
    font-size: 18px;
    letter-spacing: 0.3px;
    line-height: 24px;
    font-weight: 600;
    color: #ffffff;
    background: #ff006e;
    width: 136px;
    border: none;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

@media (max-width:768px) {
    .header{
        margin-left: 15px;
        margin-right: 15px;
    }
    .hero h1{
        text-align: center;
    }
    .hero .searchbar{
      max-width: 400px;
    }
    .searchbar .location {
        margin-right: 15px;
    }
    .location .icon{
        font-size: 30px;
    }
    .hero .searchbar input {
        flex-grow: 1;
        outline: none;
        padding-left: 10px;
        border: none;
    }

    .searchbar .btn {
        padding: 16px;
        font-size: 16px;
        letter-spacing: 0;
        font-weight: 700;
    }
}