.header {
    width: 100%;
    max-width: 1232px;
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #F40469;
    font-size: 32px;
    line-height: 48px;
    font-weight: 800;
}

.menu {
    font-size: 18px;
    color: #000000;
    line-height: 24px;
    font-weight: 600;
}

@media (max-width:768px) {
    .header{
        margin-left: 15px;
        margin-right: 15px;
    }
}